[Unit]
Description=Docker Registry Web Service
Requires=reverse-proxy-encrypt.service
After=reverse-proxy-encrypt.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill docker-registry-web
ExecStartPre=-/usr/bin/docker rm docker-registry-web
ExecStartPre=/usr/bin/docker pull nginx
ExecStart=/usr/bin/docker run --name "docker-registry-web" --expose "80" --expose "443" --env-file "/home/core/share/unit-resources/docker-registry-web/env.list" -v "registry-data:/var/lib/registry" -v "proxy-certs:/etc/nginx/certs:ro" nginx
ExecStop=/usr/bin/docker stop docker-registry-web
