[Unit]
Description=Go Git Service

Requires=docker.service
After=docker.service

After=reverse-proxy-encrypt.service

[Service]
TimeoutStartSec=0

# Start procedure
ExecStartPre=-/usr/bin/docker kill gogs
ExecStartPre=-/usr/bin/docker rm gogs
ExecStartPre=-/usr/bin/docker pull gogs/gogs
ExecStart=/usr/bin/docker run --name "gogs" -p "2200:22" --env-file "/home/core/share/unit-resources/gogs/env.list" -v "gogs-data:/data" -v "/home/core/share/unit-resources/gogs/app.ini:/data/gogs/conf/app.ini:ro" gogs/gogs

# Stop procedure
ExecStop=/usr/bin/docker stop gogs
