[Unit]
Description=Jenkins Master Service

Requires=docker.service
After=docker.service

Wants=reverse-proxy-encrypt.service
After=reverse-proxy-encrypt.service

[Service]
TimeoutStartSec=0

# Start procedure
ExecStartPre=/usr/bin/docker volume create --name=jenkins-master-data
ExecStartPre=-/usr/bin/docker kill jenkins-master-tmp
ExecStartPre=-/usr/bin/docker rm jenkins-master-tmp
ExecStartPre=/usr/bin/docker run --name "jenkins-master-tmp" -v "jenkins-master-data:/var/jenkins_home" busybox tail -f /dev/null
ExecStartPre=/usr/bin/docker run --rm -v "jenkins-master-data:/var/jenkins_home" --user root --entrypoint "chown" jenkins -R jenkins:jenkins /var/jenkins_home
ExecStartPre=-/usr/bin/docker kill jenkins-master-tmp
ExecStartPre=-/usr/bin/docker rm jenkins-master-tmp
ExecStartPre=-/usr/bin/docker kill jenkins-master
ExecStartPre=-/usr/bin/docker rm jenkins-master
ExecStartPre=-/usr/bin/docker pull jenkins
ExecStart=/usr/bin/docker run --name "jenkins-master" --env-file "/home/core/share/unit-resources/jenkins/env.list" -v "jenkins-master-data:/var/jenkins_home" jenkins

# Stop procedure
ExecStop=/usr/bin/docker stop jenkins-master
