[Unit]
Description=Shipyard controller

Requires=docker.service
After=docker.service

Requires=shipyard-db
After=shipyard-db

Requires=swarm-manager
After=swarm-manager

[Service]
TimeoutStartSec=0

# Start procedure
ExecStartPre=-/usr/bin/docker kill shipyard-controller
ExecStartPre=-/usr/bin/docker rm shipyard-controller
ExecStartPre=-/usr/bin/docker pull shipyard/shipyard
ExecStart=/usr/bin/docker run --name shipyard-controller --link shipyard-db:rethinkdb --link swarm-manager:swarm -p 8080:8080 shipyard/shipyard server -d tcp://swarm:2375

# Stop procedure
ExecStop=/usr/bin/docker stop shipyard-controller
